<div class="container-fluid">
    <div class="row text-center d-flex justify-content-center" *ngIf="allCurrencies$ | async as allCurrencies"
        [formGroup]="convertCurrencyForm">
        <h1 class="col-12 mb-4">Currency Converter</h1>


        <div class="half-width">
            <div class="col-auto">
                <label class="col-form-label">From: </label>
            </div>
            <div class="col-auto">
                <select class="form-select d-inline-block" aria-label="Default select example" formControlName="from">
                    <option selected>Select From Currency ... </option>
                    <option *ngFor="let item of allCurrencies | keyvalue" [value]="item.key">
                        {{item.key}}</option>
                </select>
            </div>
            <input formControlName="amount" class="form-control mt-2" type="number">
        </div>
        <div class="half-width">
            <div class="col-auto">
                <label class="col-form-label">To: </label>
            </div>
            <div class="col-auto">
                <select class="form-select d-inline-block" aria-label="Default select example" formControlName="to">
                    <option selected>Select To Currency ... </option>
                    <option *ngFor="let item of allCurrencies | keyvalue" [value]="item.key">
                        {{item.key}}</option>
                </select>
            </div>
            <input disabled class="form-control mt-2" type="number">
        </div>

        <div class="half-width">
            <button class="btn btn-primary" [disabled]="!convertCurrencyForm.valid"
                (click)="onSubmit()">Convert</button>
        </div>

    </div>

</div>